@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
html {
  scroll-behavior: smooth;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-checkbox {
  width: 18px;
  height: 18px;
}

.decBold li::marker {
  font-weight: bold;
  font-size: 22px;
}
.decUnBold li::marker {
  font-weight: inherit;
  font-size: inherit;
}
ol.list-decimal {
  list-style-type: decimal;
}
.marginLeftMinus {
  margin-left: -20px;
}
.marginLeft {
  margin-left: 20px;
}
/* .swiper-pagination{
  margin-bottom: -20px !important;
} */


.swiper-1 .swiper-pagination-bullet {
  width: 30px !important;
  height: 3px !important;
  border-radius: 0 !important;
  opacity: 0.6 !important;
  background: gray !important;
  transition: transform 0.3s ease !important
}
.swiper-1 .custom-bullet-active {
  background: #000 !important;
}

.swiper-2 .swiper-pagination-bullet {
  width: 30px !important;
  height: 3px !important;
  border-radius: 0 !important;
  opacity: 0.6 !important;
  background: gray !important;
  transition: transform 0.3s ease !important
}
.swiper-2 .custom-bullet-active {
  background: #fff !important;
}


.swiper-3 .swiper-pagination-bullet {
  width: 30px !important;
  height: 3px !important;
  border-radius: 0 !important;
  opacity: 0.6 !important;
  background: gray !important;
  transition: transform 0.3s ease !important
}
.swiper-3 .custom-bullet-active {
  background: #ffff !important;
}